EkgAnalysisPlatform.Tests/obj
EkgAnalysisPlatform.Web/obj
EkgAnalysisPlatform.Api/obj
EkgAnalysisPlatform.Core/obj
EkgAnalysisPlatform.Infrastructure/obj
EkgAnalysisPlatform.Api/appsettings.Development.json
EkgAnalysisPlatform.Api/Properties/launchSettings.json
EkgAnalysisPlatform.Api/bin
EkgAnalysisPlatform.Core/bin
EkgAnalysisPlatform.Infrastructure/bin
EkgAnalysisPlatform.Tests/bin
EkgAnalysisPlatform.Functions/.vscode
EkgAnalysisPlatform.Functions/Properties/launchSettings.json
EkgAnalysisPlatform.Web/bin
